<div class="about">
    @{
        ViewBag.Title = "About the RelieveLand Development Team";
    }
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <a href="https://jcarg.github.io/">
                    <h4>
                        Jessica Cargill
                    </h4>
                    <img class="img-responsive" src="~/Images/JCHeadshot.sm.jpg" />
                </a>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 text-center about-text">
                <p>
                    Jessica is a person with a love for anything technological and story-based. Due to her passions, she found herself at a bootcamp
                    for software development, where she will soon obtain a certification in software engineering. It was a marvelous experience
                    that enhanced both her skill and passion for the world of ones and zeroes.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 text-center about-text">
                <p>
                    Lavelle is a firm believer that great ideas can come from anyone and anywhere on Earth. The creative mind is unlimited in this vast
                    universe and software development gives him the ability to bring a unique idea to life. He loves programming and designing web pages, and
                    is focused on continuous growth.
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <a href="https://lavellebrown.github.io/">
                    <h4>
                        Lavelle Brown
                    </h4>
                    <img class="img-responsive" src="~/Images/LBHeadshot.sm.jpg" />
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <a href="https://github.com/Bigsam82">
                    <h4>
                        Sam Saunders
                    </h4>

                    <img class="img-responsive" src="~/Images/SSHeadshot.sm.jpg" />
                </a>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 text-center about-text">
                <p>
                    Sam is an Ohio State University graduate ('06), a 13 year Air National Guard veteran, a six-year defense contractor and a recent
                    graduate of We Can Code IT's Full Stack Software Developer Boot Camp.  He has used his technical aptitude and willingness to learn
                    to work in high pressure, high demand areas, and excel in them. He is ready to make a splash in his new career as a Software Developer!
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 text-center about-text">
                <p>
                    Andy aspires to earn a Junior Developer role at an established software company, learn and absorb everything he can about
                    software development, move up in the ranks to a Senior role, and later become a Project Manager. In addition to his interest in
                    computers and computer software, Andy is an avid long distance runner, having raced in many full and half marathons.
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <a href="https://humbleandrew13.github.io/">
                    <h4>
                        Andy Humble
                    </h4>
                    <img class="img-responsive" src="~/Images/ASHHeadshot.sm.jpg" />
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <a href="https://kdjackson85.github.io/">
                    <h4>
                        Keith Jackson

                    </h4>
                    <img class="img-responsive" src="~/Images/KJHeadshot.sm.jpg" />
                </a>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 text-center about-text">
                <p>
                    Keith is a full stack Web Developer, proficient in both front end and back end application processes.
                    Artistic and creative by nature, Keith spends most of his free time, (when he is not coding) involved in various eclectic
                    musical projects. His goal is to work with clients on creating fresh, clean, and modern-feeling applications,
                    designed for a great user experience.
                </p>
            </div>
        </div>
    </div>
</div>