@{
    ViewBag.Title = "Contact RelieveLand";
}
<div class="container contact text-center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <br />

    <address>
        RelieveLand<br />
        50 Public Square, #200<br />
        Cleveland, OH 44113<br />
    </address>

    <div class="row text-center">
        <form class="form-horizontal" method="post" action="https://formspree.io/relieveland@gmail.com">
            <div class="form-group form-text">
                <h3><label for="name" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 control-label">Name: </label></h3>
                <input class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 no-float" maxlength="50" type="text" name="name" id="name">
            </div>
            <div class="form-group form-text">
                <h3><label for="email" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 control-label">E-Mail: </label></h3>
                <input class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 no-float" maxlength="50" type="email" name="email" id="name">
            </div>
            <div class="form-group form-text">
                <h3><label for="subject" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 control-label">Subject: </label></h3>
                <input class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 no-float" maxlength="50" type="text" name="subject" id="name">
            </div>
            <div class="form-group form-text">
                <h3><label for="message" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 control-label">Message: </label></h3>
                <textarea class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 no-float" maxlength="400" rows="10" name="message"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>