@{
    ViewBag.Title = "RelieveLand";
}

<div class="text-center">
    <br />
    <h1 class="logo-text">RelieveLand</h1>
    <img id="logo" class="img-responsive" src="~/Images/RL-Logo-bite.png" />
    <p class="slogan">Where to go when you need to GO</p>
    <br />
    <h1>Where are you?</h1>

    <div class="btn-group">
        <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a Location <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">E. 4th St</a></li>
            <li><a href="#">W. 6th St</a></li>
            <li><a href="#">Flats - West Bank</a></li>
            <li><a href="#">Flats - East Bank</a></li>
            <li><a href="#">Ohio City</a></li>
            <li><a href="#">Arena District</a></li>
            <li><a href="#">Tremont</a></li>
            <li><a href="#">Playhouse Sq</a></li>
            <li><a href="#">Public Square</a></li>
            <li><a href="#">Browns Stadium/Lakefront</a></li>
            <li><a href="#">Ox Bow Bend</a></li>
        </ul>
    </div>
</div>



