@{
    ViewBag.Title = "RelieveLand";
}
<div class="text-center">
    <br />
    <h1 class="logo-text">RelieveLand</h1>
    <p class="slogan">Where to go when you need to GO</p>
    <img id="logo" class="img-responsive" src="~/Images/RelievelandLogo.png" />
    <br />
    <h1>Where are you?</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a Location <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/BoroughModels/Details/1">Playhouse Square</a></li>
            <li><a href="/BoroughModels/Details/2">Victory Alley/E. 9th</a></li>
            @*<li><a href="/BoroughModels/Details/3">Arena District</a></li>
            @*<li><a href="/BoroughModels/Details/4">Public Square</a></li>*@
            <li><a href="/BoroughModels/Details/5">E. 4th St</a></li>
            @*<li><a href="/BoroughModels/Details/6">Browns Stadium/Lakefront</a></li>*@
            <li><a href="/BoroughModels/Details/7">W. 6th St/Warehouse District</a></li>
            <li><a href="/BoroughModels/Details/13">Flats</a></li>
            @*<li><a href="/BoroughModels/Details/9">Ox Bow Bend</a></li>
                <li><a href="/BoroughModels/Details/10">Flats - West Bank</a></li>*@
            <li><a href="/BoroughModels/Details/11">Tremont</a></li>
            <li><a href="/BoroughModels/Details/12">Ohio City</a></li>
        </ul>
    </div>
</div>

