body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #880015;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: black;
}




/*Navbar Styling*/
.container > .navbar-collapse {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.container > .navbar-header {
    background-color: white;
    border-top: 2px solid #880015;
}

.container > .navbar-collapse {
    border-top: 2px solid #880015;
}

.navbar-inverse .navbar-toggle {
    background-color: #880015;
    border: 2px solid #880015;
}

    .navbar-inverse .navbar-toggle:hover {
        background-color: white;
        border: 2px solid #880015;
    }

.navbar-inverse .navbar-toggle {
    background-color: #880015;
    border: 2px solid #880015;
}

.navbar-toggle .icon-bar {
    border: 1px solid white;
}

.navbar-toggle:hover .icon-bar {
    border: 1px solid #880015;
}

.navbar-toggle:focus .icon-bar {
    background-color: white;
    border: 1px solid #880015;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: white;
}

.navbar-toggle:active .icon-bar {
    background-color: white;
    border: 1px solid #880015;
}

.navbar-inverse .navbar-nav > li > a {
    color: #880015;
    font-size: 16px;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #880015;
        font-size: 18px;
        text-decoration: none;
    }

.navbar-nav a {
    font-family: 'Sansita', sans-serif;
}

.container > .navbar-header a {
    color: #880015;
}

.navbar-inverse {
    background-color: #880015;
    border-bottom: 0px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.container > .navbar-header {
    padding-left: 15px;
}

.navbar-inverse .navbar-brand:hover {
    font-family: 'Lobster', cursive;
    font-size: 34px;
    color: #880015;
    text-decoration: none;
}

/*Footer Styling*/
footer {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #ffc90e;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .sidenav p {
        font-size: 30px;
        font-family: 'Sansita', sans-serif;
        padding-left: 30px;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 70px;
        right: 25px;
        font-size: 30px;
        margin-left: 0px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*End of Side Nav styling*/


/*Text on Home Page*/
.logo-text {
    font-size: 50px;
    font-family: 'Lobster',cursive;
}

.slogan {
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
}

#logo {
    display: inline-block;
}

h1 {
    font-family: 'Sansita', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 0px;
}


/*Borough Details Styling*/
#borough-header {
    font-family: 'Sansita', sans-serif;
}

.pagination > .active > a, .pagination > .active > a:hover {
    font-family: 'Sansita', sans-serif;
    z-index: auto;
    background-color: black;
    border-color: black;
}

.pagination > li > a, .pagination > li > a:hover {
    font-family: 'Sansita', sans-serif;
    color: black;
}



.outside-border {
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.inside-border {
    border: 5px solid #880015;
    background-color: white;
    color: #880015;
    border-radius: 5px;
    font-family: 'Sansita', sans-serif;
}

.cell {
    background-color: white;
    color: #880015;
    height: 115px;
    margin-bottom: 5px;
    text-align: center;
}

.ovravg {
    padding-top: 15px;
}

.small {
    padding-top: 8px;
    display: inline-block;
    max-height: 105px;
}

.filter {
    background-color: white;
    color: black;
    border-color: #818181;
}

.filter:hover, .filter:active, .filter:focus,
.filter:active:focus, .btn-primary:active:hover, 
.btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, .btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, 
.btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
    color: white;
    background-color: black;
    border-color: #1e1e1e;
}



/*Button Styling*/
.btn-default {
    background-color: #880015;
    color: white;
    border: 2px solid white;
    font-family: 'Sansita', sans-serif;
}

    .btn-default:hover {
        background-color: white;
        color: #880015;
        border: 2px solid white;
        font-weight: bolder;
    }


/*About*/
.about > h2, .about a {
    color: #ffc90e;
}

    .about a:hover {
        color: rgba(255, 201, 14, 0.6);
        text-decoration: none;
    }

.about > h2, .about > h3, .about h4 {
    text-align: center;
}

.img-responsive {
    display: inline-block;
}

.about-text {
    padding-right: 5px;
    margin-left: 5px;
}

    .about-text p {
        padding-top: 15%;
    }
